.footer{
    margin-top: 4rem;
    padding: 4rem 6rem 2rem 6rem; 
    background-color: #111812;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    gap: 1.5rem;
    z-index: 1;

    @include smaller-than($mantine-breakpoint-lg){
        padding: 4rem;
        padding-bottom: 2rem;
    }

    @include smaller-than($mantine-breakpoint-sm){
        padding: 4rem 2rem;
    }

    &__col{
        display: flex;
        flex-direction: column;
        gap: 1rem;

        &__brand{
            width: 10rem;
            height: 2.5rem;
            object-fit: cover;
        }

        &__icon{
            width: 2rem;
            height: 2rem;
            background-color: #fff;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #364330 !important; 

            > a {
                color: #364330 !important; 
            }
        }

        &__list{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 0;
            list-style-type: none;
            //list-style: inside;

            &__item{
                font-size: var(--mantine-font-size-sm);
                font-weight: 300;
                color: #fff;

                span{
                    font-size: 0.9rem;
                    color: var(--mantine-color-orange-3);
                }

                a{
                    text-decoration: none;
                    color: white;

                    &:hover{
                        color: var(--mantine-color-orange-3);
                    }
                }
            }
        }
    }

    &__group{
        &__ndpr{
            padding: 1rem 0.7rem;
            border-left: #fff 1px solid;
        }
    }

    &__bg_l{
        width: 26rem;
        height: 26rem;
        position: absolute;
        left: -7rem;
        object-fit: contain;
        top: -1rem;
        z-index: -1;
        opacity: 0.45;
        filter: grayscale(1);

        @media screen and (max-width: $mantine-breakpoint-md){
            display: none;
        }
    }

    &__bg_r{
        width: 26rem;
        height: 26rem;
        position: absolute;
        right: -6rem;
        object-fit: contain;
        bottom: -2rem;
        z-index: -1;
        opacity: 0.4;
        filter: grayscale(1);

        @media screen and (max-width: $mantine-breakpoint-md){
            display: none;
        }
    }
}