.legal{
    display: flex;
    flex-direction: column;
    //position: relative;
    gap: 4rem;

    &__paper{
        width: min(50vw, 100%);
        margin: 1rem auto 4rem auto;
    }

    &__panel{
        position: sticky;
        top: 0;
        left: 6rem;
        // border: 1px solid;
        width: 16rem;
        padding-top: 2rem;
    }
}