.legal{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    //padding: 1rem 4rem;
    padding: 0 6rem;

    @include smaller-than($mantine-breakpoint-xl){
        padding: 0rem 4rem;
    }

    @include smaller-than($mantine-breakpoint-lg){
        padding: 0rem 4rem;
    }

    @include smaller-than($mantine-breakpoint-sm){
        padding: 1rem 2rem;
    }

    &__paper{
        width: min(50vw, 100%);
        margin: 1rem auto 4rem auto;

        @include smaller-than($mantine-breakpoint-sm){
            //width: min(70vw, 100%);
            width: min(80vw, 100%);
        }
    }

    &__panel{
        position: sticky;
        top: 0;
        left: 6rem;
        width: 16rem;
        padding-top: 2rem;

        @include smaller-than($mantine-breakpoint-sm){
            display: none;
        }
    }
}