.orders{
    padding: 2rem 6rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;

    @include smaller-than($mantine-breakpoint-xl){
        padding: 2rem 4rem;
    }

    @include smaller-than($mantine-breakpoint-sm){
        padding: 3rem 2rem;
    }

    @include smaller-than($mantine-breakpoint-xs){
        h1 {
            font-size: 1.8rem;
        }

        p{
            text-align: left !important;
        }
    }

    &__slide{
        padding: 1rem;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        background-color: transparent;

        &__img{
            height: 10rem;
            border-radius: 0.5rem;
            overflow: hidden;
            position: relative;

            &:before{
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                background: linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.15));
                top: 0;
                left: 0;
            }
        }
    }
    
    &__span{
        color: var(--mantine-color-orange-5);
    }
}

.controls {
    transition: opacity 150ms ease;
    opacity: 0;
}

.root {
    background-color: #fffdfb;
    border: 1px solid #f1902512;

    &:hover {
        .controls {
            opacity: 1;
        }
    }
}

.loader {
    background-color: #fdfdfd;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: 23rem;
    gap: 2rem;
    padding: 1rem;

    &__card{
        padding: 1rem;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        &__img{
            width: 100%;
            height: 10rem;
            border-radius: 0.5rem;
            background-color: var(--mantine-color-gray-2);
            @include set-shimmer;
        }

        &__stub{
            width: 4rem;
            height: 0.6rem;
            background-color: var(--mantine-color-gray-2);
            @include set-shimmer;
        }

        &__title{
            width: 6rem;
            height: 0.6rem;
            background-color: var(--mantine-color-gray-2);
        }

        &__sub{
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
            background-color: var(--mantine-color-gray-2);
            @include set-shimmer;
        }

        &__desc{
            flex: 1;
            height: 0.6rem;
            background-color: var(--mantine-color-gray-2);
        }

        &__btn{
            width: 100%;
            height: 2.5rem;
            background-color: var(--mantine-color-gray-2);
        }
    }
}