.label{
    font-size: 0.85rem !important;
    font-weight: 400 !important;
    margin-bottom: 0.3rem;
}

.input{
    font-size: 0.9rem !important;
    color: var(--mantine-color-gray-8);
}

.error{
    font-size: 0.8rem !important;
}

.description{
    font-size: 0.8rem !important;
    font-weight: 300;
}