.info{
    padding: 4rem 6rem;

    @include smaller-than($mantine-breakpoint-xl){
        padding: 2rem 4rem;
    }

    @include smaller-than($mantine-breakpoint-lg){
        padding: 2rem 4rem;
    }

    @include smaller-than($mantine-breakpoint-sm){
        padding: 1rem 2rem;
    }
    
    &__paper{
        background-color: #fffdfb;
        padding: 4rem 2rem;
        border-radius: 0.5rem;
        border: 1px solid #f1902512;

        @include smaller-than($mantine-breakpoint-sm){
        padding: 4rem 1rem;
    }

        &__icon{
            width: 3rem;
            height: 3rem;
            background-color: var(--mantine-color-orange-1);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}