.faqs{
    //padding: 4rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 0 6rem;

    @include smaller-than($mantine-breakpoint-xl){
        padding: 0rem 4rem;
    }

    @include smaller-than($mantine-breakpoint-lg){
        padding: 0rem 4rem;
    }

    @include smaller-than($mantine-breakpoint-sm){
        padding: 1rem 2rem;
    }

    &__paper{
        width: min(50rem, 100%);
        margin: 0 auto;
    }
}