.pricing{
    padding: 2rem 6rem;

    @include smaller-than($mantine-breakpoint-xl){
        padding: 2rem 4rem;
    }

    @include smaller-than($mantine-breakpoint-lg){
        padding: 2rem 4rem;
    }

    @include smaller-than($mantine-breakpoint-sm){
        padding: 1rem 2rem;
    }
}